:host{
  width: 100%;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cardContainer {
  background-color: rgb(12 10 10);
}
.card {
  background-color: black;
  border: transparent;
  color: gray;
}
#homeTitle {
  text-decoration: none;
  color: red;
}
#heartIcon {
  cursor: pointer;
}
select {
  width: fit-content;
  background-color: black;
  color: gray;
  border: none;
}

option:checked {
  color: red;
}
/* Animazione netflix copiata*/
.n {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: #000 !important;
  height: 100vh !important;
}

.netflix {
  position: relative;
  width: 360px;
  height: 520px;
  overflow: hidden;
  transform: scale(0.8);
}

.netflix::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 120px;
  background: #000;
  z-index: 2;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: scalex(1.5);
}

.netflix::after, h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 3;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    right: 0;
  }
  100% {
    right: -400%;
  }
}

.netflix span {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  background: #fff;
}

.netflix span:nth-child(1) {
  background: #b00612;
  left: 0;
}

.netflix span:nth-child(2) {
  background: #e50815;
  left: 0;
  z-index: 1;
  transform-origin: top left;
  transform: skewX(24.8deg);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.netflix span:nth-child(3) {
  background: #b00612;
  right: 0;
}

h3 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  overflow: hidden;
}
