.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cardContainer {
  background-color: rgb(12 10 10);
}
.card {
  background-color: black;
  border: transparent;
  color: gray;
}
#homeTitle {
  text-decoration: none;
  color: red;
}
#heartIcon {
  cursor: pointer;
}
select {
  width: fit-content;
  background-color: black;
  color: gray;
  border: none;
}

option:checked {
  color: red;
}

