<div class="d-flex flex-column justify-content-center" id="cardContainer">
  <div>
    <div id="userInfo" class="p-2 mb-3">
      <div class="d-flex">
        <h3 class="me-4">Benvenuto sulla tua pagina personale {{editUser?.name}}</h3>
        <button type="button" class="rounded-circle" id="modifyBtn" data-bs-toggle="modal" data-bs-target="#modifyModal"
          (click)="openModal()"><img src="../../../assets/pencil-fill.svg" alt="Pencil Logo"></button>
      </div>
      <h5>La tua email: {{editUser?.email}}</h5>
      <h5>I miei film preferiti: {{favMovies.length}}</h5>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let movie of favMovies">
        <div class="card border-0 bg-black mb-1" [routerLink]="['/detail', (movie.id)]" id="userCard">
          <div class="card-title p-1 text-center">
            <h5>{{movie.title}}</h5>
          </div>
          <div class="card-body p-0">
            <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="card-img-bottom"
              alt="{{movie.title}}">
          </div>
        </div>
        <button type="button" class="p-1 px-2 rounded-circle mb-2" (click)="rimuoviFav(movie.id)">
          <img src="../../../assets/trash-fill.svg" alt="trash icon">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-black border-1 border-secondary" id="modal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifica Informazioni Personali</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeBtn"></button>
      </div>
      <form #form="ngForm" (submit)="modifica(form)">
        <div class="modal-body">
          <label for="name">Nome</label>
          <input type="name" name="name" id="name" class="form-control" required [(ngModel)]="nameValue">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required [(ngModel)]="emailValue">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" #password="ngModel" class="form-control" minlength="5"
            maxlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).+$" required ngModel>
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            La password deve contenere almeno una lettera minuscola, una lettera maiuscola, un numero e un carattere
            speciale.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Chiudi</button>
          <button type="submit" class="btn" [disabled]="form.invalid" data-bs-dismiss="modal">Modifica</button>
        </div>
      </form>
    </div>
  </div>
</div>
