:host {
  width: 100%;
}

#cardContainer {
  background-color: rgb(12 10 10);
  color: red;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
}

#userInfo{
  border-radius: 10px;
  background: linear-gradient(91deg, black, transparent);
}
#userCard {
  cursor: pointer;
}

#modifyBtn {
  padding: 0 0.6em;
}

#modal {
  color: red;
}
button {
  color: black;
  background-color: red;
}
button:disabled {
  background-color: rgb(247, 57, 57);
  color: black;
}
button:hover {
  background-color: red;
  color: black;
  box-shadow: 1px 1px 5px gray ;
}
