<div class="d-flex flex-column justify-content-center" id="cardContainer">
  <div>
    <div id="userInfo" class="p-2 mb-3">
      <h3>Benvenuto sulla tua pagina personale {{user?.user?.name}}</h3>
      <h5>La tua email: {{user?.user?.email}}</h5>
      <h5>I miei film preferiti: {{favMovies.length}}</h5>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let movie of favMovies">
        <div class="card border-0 bg-black mb-3" [routerLink]="['/detail', (movie.id)]" id="userCard">
          <div class="card-title p-1 text-center">
            <h5>{{movie.title}}</h5>
          </div>
          <div class="card-body p-0">
            <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="card-img-bottom"
              alt="{{movie.title}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
