#contenitore {
  height: 100%;
  background-image: url(../assets/netflix-sfondo.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#sottoContenitore {
  background-color: rgb(12 10 10);
}
